# Project exclude paths
/project/target/
/target/
/target/scala-2.12/classes/
tmp
.history
dist
/.idea
/.bsp
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/src/main/resources/facebook_dataset.csv
/src/main/resources/google_dataset.csv
/src/main/resources/website_dataset.csv